<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.springframework.org/schema/beans"
    xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task.xsd">

	<context:component-scan base-package="com.zhtkj.jt808" annotation-config="true">
	</context:component-scan>
	
	<bean id="propertyResources" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>classpath:DBConfig.properties</value>
			</list>
		</constructor-arg>
	</bean>

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" ref="propertyResources"/>
	</bean>

    <bean id="dataSourceGateway" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="name" value="dataSourceGateway" />
		<property name="driverClassName" value="${jdbc.gateway.driver}"/>
		<property name="url" value="${jdbc.gateway.url}" />
		<property name="username" value="${jdbc.gateway.username}"/>
		<property name="password" value="${jdbc.gateway.password}"/>
		<property name="initialSize" value="3"/>
		<property name="maxActive" value="10"/>
		<property name="minIdle" value="0"/>
		<property name="maxWait" value="30000"/>
		<property name="connectionProperties" value="druid.stat.slowSqlMillis=60000"/>
		<property name="removeAbandoned" value="false"/>
		<property name="removeAbandonedTimeout" value="1800"/>
		<property name="timeBetweenEvictionRunsMillis" value="3600000"/>
		<property name="minEvictableIdleTimeMillis" value="1800000"/>
		<property name="maxEvictableIdleTimeMillis" value="3600000"/>
		<property name="connectionInitSqls" value="select '1' from dual"/>
		<property name="validationQuery" value="SELECT '1' from dual"/>
		<property name="validationQueryTimeout" value="10"/>
		<property name="testWhileIdle" value="false"/>
		<property name="testOnBorrow" value="false"/>
		<property name="testOnReturn" value="false"/>
		<property name="poolPreparedStatements" value="true"/>
		<property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>
	</bean>

	<bean id="sessionFactoryGateway" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSourceGateway"/>
	</bean>
	
 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zhtkj.jt808.mapper"/>
		<property name="sqlSessionFactoryBeanName" value="sessionFactoryGateway"/>
	</bean>
	
    <!-- spring注解方式配置调度任务 -->
    <task:scheduler id="scheduler" pool-size="6"/>
    <task:annotation-driven scheduler="scheduler"/>

</beans>  