<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://www.padual.com/java/logback.xsd"
    scan="false" scanPeriod="1 minutes" debug="false">

    <!--定义日志文件的存储地址, 勿在 LogBack 的配置中使用相对路径 -->
	<property name="LOG_HOME" value="c:/log4j" />
    
    <!-- 控制台打印 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger{36} - %m%n
            </pattern>
        </encoder>
    </appender>
	
	<!-- 写入日志文件 -->
  	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  		<file>${LOG_HOME}/netty-server.log</file>
    	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${LOG_HOME}/netty-server-%d{yyyy-MM-dd}.log</fileNamePattern>
      		<maxHistory>30</maxHistory>
    	</rollingPolicy>
    	<encoder>
      		<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    	</encoder>
  	</appender>
    
	<!-- 日志输出级别 -->
	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>

</configuration>