<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhtkj.jt808.mapper.CarHistoryMapper">

	<insert id="insertCarHistory">
		insert into zt_car_history_${month} (
		  dev_phone,
		  car_number,
          gps_pos_x,
          gps_pos_y,
          gps_speed,
          gps_height,
          gps_direct,
          gps_valid,
          box_up,
          box_empty,
          box_close,
          car_state,
          car_weigui,
          driver_id,
          send_datetime,
          revice_datetime
		)
		values
		  (
		  	'${locationInfo.devPhone}',
		    '${locationInfo.carNumber}',
		    ${locationInfo.gpsPosX},
		    ${locationInfo.gpsPosY},
		    ${locationInfo.gpsSpeed},
		    ${locationInfo.gpsHeight},
		    ${locationInfo.gpsDirect},
		    1,
		    ${locationInfo.boxUp},
		    ${locationInfo.boxEmpty},
		    ${locationInfo.boxClose},
		    '${locationInfo.carState}',
		    ${locationInfo.carWeigui},
		    '${locationInfo.driverId}',
		    '${locationInfo.sendDatetime}',
		    now()
		  ) 
	</insert>

</mapper>